@model IEnumerable<MissingModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rejestr Osób Zaginionych</h1>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Imię </th>
            <th>Nazwisko </th>
            <th onclick="location.href='Home%Plec'">Płeć </th>
            <th>Zjęcie</th>
            <th>Miejsce Zaginięcia</th>
            <th>Data Zaginiecią</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Imie</td>
                <td>@d.Nazwisko</td>
                <td>@d.Plec</td>
                <td>@d.IdPicture</td>
                <td>@d.MiejsceZaginiecia</td>
                <td>@d.DataZaginięcia</td>
            </tr>
        }
    </table>
    @if (this.User.IsInRole("Admin"))
    {
        <button> Dodaj Nowy Wpis</button>
    }
</div>
